html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #EEEEEE;
  padding: 0;
  margin: 0;
}


canvas {
  background: url("../imgs/purty_wood.png");
  margin: 0 auto;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.hr{
    height: 2px;
    background: #F17563;
    margin: 10px 0;
}

.input-group {
    margin-bottom: 4px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
    border-bottom: 1px solid #fdeae8;
    padding: 2px;
    font-size: 16px;
}

.input-group.radio-box .btn {
    width: auto;
    padding: 6px 10px;
}

.input-group.radio-box .btn:hover {
    background: rgba(241, 117, 99, 0.5);
    color: #FFF;
}

.input-group.radio-box input:checked+.btn {
    background: #F17563;
    color: #FFF;
}

.input-group.radio-box input {
    display: none;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #F17563;
    text-align: center;
    background: none;
    transition: all 300ms;
    cursor: pointer;
}

.btn:hover {
    background: #F17563;
    color: #fff
}

.card {
    position: relative;
    display: inline-block;
    width: 800px;
    height: 800px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 600ms;
    z-index: 20;
}

.card > div {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card > .login-box form {
    background: #fff;
    color: #000;
    box-shadow: 4px 4px 20px #333333;
}

.card > .register-box {
    background: #fff;
    color: #000;
    transform: rotateY(180deg);
    box-shadow: 4px 4px 20px #333333;
}

.card form {
  padding: 10px 6px;
  box-sizing: border-box;
  height: 50%;
  width: 50%;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}


:checked + .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
